.page {
    width: 1024px;
    background-color:rgb(2, 32, 51);
    margin: auto;
    padding: 50px;
    padding-top: 10px;
	color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
}

.vis-container {
    width: 100%;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #DDD, transparent);
    padding-top: 5px;
}

@font-face {
	font-family: "CustomFont";
	src: url("https://yoursite.com/css/fonts/CustomFont.eot");
	src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
	url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
	url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
}