.page {
    width: 1024px;
    background-color:rgb(2, 32, 51);
    margin: auto;
    padding: 50px;
    padding-top: 10px;
	color: aliceblue;
    font-family: Arial;;
}

.vis-container {
    width: 100%;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #DDD, transparent);
    padding-top: 5px;
}

.title{
	font-family: 'AI-font';
	font-size: 100px;
	margin-top: 20;
    margin-bottom: 0;
	color: rgb(194, 232, 255);
	text-align: center;
}

.paragraph{
	display: flex;
	justify-content: center;
	font-family: Arial;
}
@font-face {
	font-family: "AI-font";
	src: url("https://raw.githubusercontent.com/suey147/3179/main/webfontkit-20231013-013842/ai-yzq8y-webfont.woff2"),
	url("https://raw.githubusercontent.com/suey147/3179/main/webfontkit-20231013-013842/ai-yzq8y-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}